<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<body>
    <div class="row" style="margin-top:10px;">
        <h3>Resume Builder</h3>
    </div> 
    <form #personalform="ngForm" novalidate>
        <div class="card" style="margin-top:20px;text-align:center;">
            <div class="row">
                <div class="col">
                    <span>
                        <h5><i class="pi pi-user"></i>  Personal Details</h5>
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil"></i>
                        <input type="text" [(ngModel)]="personaldetails.fullName" pInputText placeholder="Full Name *"
                         #fullname="ngModel" name="fullname" id="fullname"  required
                         [ngClass]="{ 'input-border-green' : !(personalDetailsSubmitted && fullname.invalid),
                         'input-border-red': personalDetailsSubmitted && (fullname.invalid )}"
                        />         
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil"></i>
                    <p-dropdown [options]="countryCodes"  [(ngModel)]="personaldetails.country" (ngModelChange)="onCountryChange($event)" 
                    placeholder="Select Country Below *" optionLabel="name"
                    #country="ngModel" name="stateinput" id="stateinput"  required
                    [ngClass]="{ 'input-border-green' : !(personalDetailsSubmitted && country.invalid),
                    'input-border-red': personalDetailsSubmitted && (country.invalid )}"
                    ></p-dropdown>
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-envelope"></i>
                        <input type="text"  [(ngModel)]="personaldetails.emailId" pInputText placeholder="Email Id *"
                        #emailid="ngModel" name="emailid" id="emailid" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        [ngClass]="{ 'input-border-green' : !(personalDetailsSubmitted && emailid.invalid),
                        'input-border-red': personalDetailsSubmitted && (emailid.invalid )}"
                        />         
                    </span>
                    <div *ngIf="emailid?.errors?.required || (emailid.dirty)">
                        <label *ngIf="emailid?.errors?.pattern" class="label col-form-label label-required-error">
                           Email is invalid
                        </label>
                    </div>    
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-phone"></i>
                        <input type="text" [(ngModel)]="personaldetails.contactNo" pInputText placeholder="Contact No *"
                        #contactno="ngModel" (keypress)="onNumberKeyPress($event)" name="contactno" id="contactno"  required
                        [ngClass]="{ 'input-border-green' : !(personalDetailsSubmitted && contactno.invalid),
                        'input-border-red': personalDetailsSubmitted && (contactno.invalid )}"
                        />         
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil"></i>
                    <p-dropdown [options]="states"  [(ngModel)]="personaldetails.state" (ngModelChange)="onStateChange($event)" 
                    placeholder="Choose State Below *" optionLabel="state"
                    #stateinput="ngModel" name="stateinput" id="stateinput"  required
                    [ngClass]="{ 'input-border-green' : !(personalDetailsSubmitted && stateinput.invalid),
                    'input-border-red': personalDetailsSubmitted && (stateinput.invalid )}"
                    ></p-dropdown>
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-pencil"></i>
                    <p-dropdown [options]="districtsarray"  [(ngModel)]="personaldetails.district"
                     (ngModelChange)="onDistrictChange($event)" placeholder="Choose District Below *" [(ngModel)]="education1" 
                     optionLabel="name"   #districtinput="ngModel" name="stateinput" id="stateinput"  required
                     [ngClass]="{ 'input-border-green' : !(personalDetailsSubmitted && stateinput.invalid),
                     'input-border-red': personalDetailsSubmitted && (stateinput.invalid )}"
                     ></p-dropdown>
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-github"></i>
                        <input type="text" name="githubprofile" [(ngModel)]="personaldetails.githubProfile" pInputText 
                        placeholder="Github Profile Link"  class="input-border-green">  
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                       <i> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                      </svg></i> 
                        <input type="text" name="linkedinprofile" [(ngModel)]="personaldetails.linkedInProfile" pInputText 
                        class="input-border-green" placeholder="LinkedIn Profile Link">  
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-external-link"></i>
                        <input type="text" name="codingprofile" [(ngModel)]="personaldetails.codingProfile" pInputText
                        class="input-border-green" placeholder="Coding Profile If Any">  
                    </span>
                </div>
            </div>
        </div>  
    </form>
    <form #skillsform="ngForm" novalidate>
        <div class="card" style="margin-top:20px;text-align:center;">
            <div class="row">
                <div class="col">
                    <span>
                        <h5><i class="pi pi-chart-line"></i> Skills</h5>
                    </span>&nbsp;
                    <button pButton pRipple (click)="saveSkill()" type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary"></button>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil"></i>
                        <input type="text" pInputText name="skills" id="skills" #skills="ngModel" [(ngModel)]="skill.skill"
                        [required]="skillsList?.length==0"  [ngClass]="{ 'input-border-green' : !(skillsformSubmitted && skills.invalid),
                        'input-border-red': skillsformSubmitted && skills.invalid}"
                         placeholder="Ex: Java , Python , SQL, Angular 2+ *">         
                    </span>
                </div>
            </div>
            <div *ngIf="skillsList?.length" class="row" style="margin-top:15px;">
                <div class="col" *ngFor="let opt of skillsList;let i=index">
                    <p-chip styleClass="icon-chip-class"  [label]="opt.skill" (click)="editSkill(opt.skill,i)"  [removable]="true"></p-chip>
                </div>
            </div>
        </div>
    </form>
    <form #experienceform="ngForm" novalidate>  
        <div class="card" style="margin-top:20px;text-align:center;">
            <div class="row">
                <div class="col">
                    <span>
                        <h5><i class="pi pi-link"></i> Experience</h5>
                    </span>&nbsp;
                    <button pButton pRipple type="button" (click)="addExperience()" icon="pi pi-plus" class="p-button-rounded p-button-secondary"></button>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-globe"></i>
                        <input type="text" name="employerfield" id="employerfield" [(ngModel)]="experience.employer" 
                        pInputText placeholder="Employer" #employerfield="ngModel" 
                         [ngClass]="{ 'input-border-green' : !(experienceSubmitted && employerfield.invalid),
                        'input-border-red': experienceSubmitted && employerfield.invalid}">         
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-plus"></i>
                        <input type="text" name="jobtitle" id="jobtitle" [(ngModel)]="experience.jobTitle" pInputText 
                        [ngClass]="{ 'input-border-green' : !(experienceSubmitted && jobtitle.invalid),
                         'input-border-red': experienceSubmitted && jobtitle.invalid}" #jobtitle="ngModel" placeholder="Job Title">         
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                <textarea [rows]="1" [cols]="30"  name="jobdescription" id="jobdescription"  pInputText
                 [(ngModel)]="experience.jobDescription"  #jobdescription="ngModel" 
                 [ngClass]="{ 'input-border-green' : !(experienceSubmitted && jobdescription.invalid),
                'input-border-red': experienceSubmitted && jobdescription.invalid}"
                 placeholder="Job Description" pInputTextarea autoResize="autoResize"></textarea>      
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                <span class="p-input-icon-left">
                    <i class="pi pi-id-card"></i>
                    <input type="number" name="jobexperience" id="jobexperience" [(ngModel)]="experience.experience" pInputText
                    #jobexperience="ngModel" [ngClass]="{ 'input-border-green' : !(experienceSubmitted && jobexperience.invalid),
                    'input-border-red': experienceSubmitted && jobexperience.invalid}"
                    placeholder="Experience in Months Ex: 3 Months">         
                </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-calendar-plus"></i>
                        <input type="date" bsDatePicker name="fromdate" id="fromdate" [(ngModel)]="experience.fromDate" pInputText
                        #fromdate="ngModel" [ngClass]="{ 'input-border-green' : !(experienceSubmitted && fromdate.invalid),
                        'input-border-red': experienceSubmitted && fromdate.invalid}"
                        >      
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-calendar-plus"></i>
                        <input type="date" bsDatePicker name="todate" id="todate" [(ngModel)]="experience.toDate" pInputText
                        #todate="ngModel"  [ngClass]="{ 'input-border-green' : !(experienceSubmitted && todate.invalid),
                        'input-border-red': experienceSubmitted && todate.invalid}"
                       >         
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top:20px;" *ngFor="let value of experienceList;let i=index">
                <div class="col-sm-4" style="margin-left:0px;">
                    <p-card [header]="value.jobTitle" [style]="{'width': '23rem', 'margin-bottom': '2em'}">
                        <ng-template pTemplate="body">
                            <span><b>{{value.employer}}</b></span>
                            <p-scrollPanel [style]="{width: '80%', height: '50px'}" styleClass="custom">
                               {{value.jobDescription}}
                            </p-scrollPanel>
                           
                        </ng-template>
                            <ng-template pTemplate="footer">
                                <p-button label="Edit" (click)="editExperience(i)" icon="pi pi-check"></p-button>
                            </ng-template>
                    </p-card>
                </div>
            </div>
        </div> 
    </form>   
    <form #educationform="ngForm" novalidate>
        <div class="card" style="margin-top:20px;text-align:center;">
            <div class="row">
                <div class="col">
                    <span>
                        <h5><i class="fas fa-graduation-cap"></i> Education</h5>
                    </span>&nbsp;
                    <button pButton pRipple type="button" (click)="addEducation()" icon="pi pi-plus" class="p-button-rounded p-button-secondary"></button>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-globe"></i>
                        <input type="text" name="educationtype" id="educationtype" [(ngModel)]="education.educationType"
                        #educationtype="ngModel"
                        [ngClass]="{ 'input-border-green' : !(educationSubmitted && educationtype.invalid),
                       'input-border-red': educationSubmitted && educationtype.invalid}"
                         pInputText placeholder="School/Graduation *"/>         
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-ellipsis-h"></i>
                        <input type="text" name="branch" id="branch" [(ngModel)]="education.branch"
                        #branch="ngModel" [required]="educationList?.length==0" 
                        [ngClass]="{ 'input-border-green' : !(educationSubmitted && branch.invalid),
                       'input-border-red': educationSubmitted && branch.invalid}"
                         pInputText placeholder="Branch *"/>         
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="fas fa-school"></i>
                        <input type="text"  name="institutionname" id="institutionname" [(ngModel)]="education.institutionName"
                        #institutionname="ngModel" [required]="educationList?.length==0" 
                        [ngClass]="{ 'input-border-green' : !(educationSubmitted && institutionname.invalid),
                       'input-border-red': educationSubmitted && institutionname.invalid}"
                        pInputText placeholder="Institution Name *"
                        />         
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-calendar"></i>
                        <input type="text" [(ngModel)]="education.yearOfPassing" pInputText placeholder="Graduation Year *"
                        name="yop" id="yop"  #yop="ngModel" [required]="educationList?.length==0" 
                        [ngClass]="{ 'input-border-green' : !(educationSubmitted && yop.invalid),
                       'input-border-red': educationSubmitted && yop.invalid}"
                        />         
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-percentage"></i>
                        <input type="text" (keypress)="onNumberKeyPress($event)" [(ngModel)]="education.percentage" pInputText placeholder="Percentage *"
                        name="percentagefield" id="percentagefield" #percentagefield="ngModel" [required]="educationList?.length==0" 
                        [ngClass]="{ 'input-border-green' : !(educationSubmitted && percentagefield.invalid),
                       'input-border-red': educationSubmitted && percentagefield.invalid}"
                        />         
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil"></i>
                    <p-dropdown [options]="countryCodes"  [(ngModel)]="education.country" (ngModelChange)="onCountryChange($event)" 
                    placeholder="Select Country Below *" optionLabel="name" [required]="educationList?.length==0" 
                    #educountry="ngModel" name="educountry" id="educountry" 
                    [ngClass]="{ 'input-border-green' : !(educationSubmitted && educountry.invalid),
                    'input-border-red': educationSubmitted && (educountry.invalid )}"
                    ></p-dropdown>
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil"></i>
                    <p-dropdown [options]="states"  [(ngModel)]="education.state" (ngModelChange)="onStateChange($event)" 
                    placeholder="Choose State Below *" optionLabel="state"
                    #edustateinput="ngModel" name="edustateinput" id="edustateinput" [required]="educationList?.length==0" 
                    [ngClass]="{ 'input-border-green' : !(educationSubmitted && edustateinput.invalid),
                    'input-border-red': educationSubmitted && (edustateinput.invalid )}"
                    ></p-dropdown>
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-pencil"></i>
                    <p-dropdown [options]="districtsarray"  [(ngModel)]="education.district"
                     (ngModelChange)="onDistrictChange($event)" placeholder="Choose District Below *" [(ngModel)]="education1" 
                     optionLabel="name"   #edudistrictinput="ngModel" name="edudistrictinput" id="edudistrictinput"  [required]="educationList?.length==0" 
                     [ngClass]="{ 'input-border-green' : !(educationSubmitted && edudistrictinput.invalid),
                     'input-border-red': educationSubmitted && (edudistrictinput.invalid )}"
                     ></p-dropdown>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-calendar-plus"></i>
                        <input type="date" bsDatePicker name="startdate" id="startdate" [(ngModel)]="education.startDate" pInputText
                        #startdate="ngModel" [required]="educationList?.length==0" [ngClass]="{ 'input-border-green' : !(educationSubmitted && startdate.invalid),
                        'input-border-red': educationSubmitted && startdate.invalid}"
                        >      
                    </span>
                </div>
                <div class="col-sm-3" style="margin-top:20px;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-calendar-plus"></i>
                        <input type="date" bsDatePicker name="enddate" id="enddate" [(ngModel)]="education.endDate" pInputText
                        #enddate="ngModel" [required]="educationList?.length==0" [ngClass]="{ 'input-border-green' : !(educationSubmitted && enddate.invalid),
                        'input-border-red': educationSubmitted && enddate.invalid}"
                       >         
                    </span>
                </div>
            </div>
            <div *ngIf="educationList?.length">
                <div  *ngFor="let value of educationList" (click)="editEducation(value)" class="card" style="margin-top:20px;margin-left:20px;margin-right:20px;">
                    <b  style="margin-left:20px;">EDUCATION</b>
                    <div *ngIf="educationList?.length" style="margin-bottom:20px;">
                        <div style="margin-left:20px;margin-top:20px;margin-right:20px;">
                            <div class="row">
                                <div class="col-sm-6" style="font-size:13px;font-weight:700;">
                                    {{value?.educationType}} 
                                    <span *ngIf="value?.branch" style="margin-left:10px;">
                                       <span style="font-weight:500;">in</span>&nbsp;{{value?.branch}}
                                    </span>
                                </div>
                                <div class="col" style="font-size:11px;font-weight:700;">
                                    <i><span style="font-size:small">{{value?.district}},</span>&nbsp;{{value?.state}}&nbsp;
                                        <span>,{{value?.country}}</span></i>
                                 </div>
                                 <div class="col" style="font-size:11px;font-weight:700;">
                                    {{value?.startDate | date:'mediumDate'}} to {{value?.endDate | date:'mediumDate'}}
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col" style="font-size:13px;font-weight:500;">
                                    {{value?.institutionName}}  
                                    <span>
                                        &nbsp; - {{value?.percentage}} %
                                    </span>
                                </div>
                            </div>   
                        </div>
                    </div> 
                </div>
            </div>
            <!-- <div class="row" *ngIf="educationList?.length" style="margin-top:20px;">
                <p-table [columns]="cols" [value]="educationList" styleClass="p-datatable-responsive-demo">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr (click)="editEducation(rowData[columns])">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div> -->
        </div>
    </form>
    <form #careerObjectiveform="ngForm" novalidate>
        <div class="card" style="margin-top:20px;margin-bottom:10px;text-align:center;">
            <div class="row">
                <div class="col">
                    <span>
                        <h5><i class="pi pi-play"></i>  Career Objective</h5>
                    </span>&nbsp;
                    <button pButton pRipple type="button" style="max-width:50%;" label="Refer"
                    (click)="naviagteToExternalRoute('https://www.naukri.com/blog/career-objective-or-resume-objective-samples/')" 
                    class="p-button-rounded p-button-secondary"></button>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-10 offset-md-1">
                    <textarea [(ngModel)]="experience.jobDescription" style="width:100%;height:200px;"
                     name="careerobjective"  id="careerobjective" placeholder="Enter Here*" pInputTextarea 
                     autoResize="autoResize" required #careerobjective="ngModel"
                     [ngClass]="{ 'input-border-green' : !(personalDetailsSubmitted && careerobjective.invalid),
                    'input-border-red': personalDetailsSubmitted && careerobjective.invalid}"
                     ></textarea>      
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <button pButton type="button" (click)="saveAllFields()" label="Save Form" class="p-button-info"></button>
                </div>
                <div class="col">
                    <button pButton type="button" label="Next " class="p-button-info"></button>
                </div>
            </div>
        </div> 
    </form>          
</body>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>   

<div class="p-grid p-formgrid">
    <div class="p-field p-col-12 p-md-6">
        <h5>Rectangle</h5>
        <p-skeleton  width="10rem" styleClass="p-mb-2">{{personalDatamock.emailId}}</p-skeleton>
        <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="10rem" height="4rem"></p-skeleton>
    </div>
</div>    

 <div class="card" id="resumeCard" *ngIf="preparedResume" style="margin-top:20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:black;">
    <div class="col" style="margin-top:20px;">
        <span><h5><b>{{personalDatamock.fullName.toUpperCase()}}</b></h5></span>
    </div>
    <div class="row" style="margin-top:20px;margin-left:20px;">
        <div class="col-sm-4">
            <i class="pi pi-envelope"></i>&nbsp;
            <span>{{personalDatamock.emailId}}</span>
        </div>
        <div class="col-sm-2">
            <i class="pi pi-phone"></i>&nbsp;
            <span>{{personalDatamock.contactNo}}</span>
        </div>
        <div class="col">
            <i class="pi pi-map-marker"></i>&nbsp;
             <span>{{personalDatamock.district}}</span>,
             <span>{{personalDatamock.state}}</span>,
             <span>{{personalDatamock.country}}</span>
        </div>
    </div>
    <hr/>
    <b style="margin-left:20px;">CAREER OBJECTIVE</b>
    <p style="margin-left:20px;margin-right:20px;margin-top:10px;" *ngIf="careerObjectiveMock?.careerObjective">
        {{careerObjectiveMock?.careerObjective}} 
     </p>
     <div class="row" style="margin-top:20px;margin-left:20px;margin-right:20px;">
        <div *ngIf="personalDatamock?.githubProfile" class="col">
            <i class="pi pi-github"></i>&nbsp;
            {{personalDatamock?.githubProfile}}
        </div>
        <div *ngIf="personalDatamock?.linkedInProfile" class="col">
            <i> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
            </i>&nbsp;
            {{personalDatamock?.linkedInProfile}}
        </div>
        <div *ngIf="personalDatamock?.codingProfile" class="col">
            <i class="pi-pi-link"></i>&nbsp;
            {{personalDatamock?.codingProfile}}
        </div>
    </div>
    <hr/>
     <div *ngIf="skillsMockData?.length">
        <b style="margin-left:20px;">SKILLS</b>
        <div class="row" style="margin-top:20px;margin-left:20px;margin-right:20px;">
            <div *ngFor="let skill of skillsMockData" class="col">
                <span id="skillslistsection">{{skill.skill}}</span>
            </div>
        </div>
     </div>
     <hr/>
    <b *ngIf="experienceMockdata?.length" style="margin-left:20px;">PROFESSIONAL EXPERIENCE</b><br/>
    <div class="row" *ngIf="experienceMockdata?.length" style="margin-left:20px;">
        <div *ngFor="let value of experienceMockdata">
            <div style="margin-right:20px;margin-top:20px;">
                <div class="row">
                    <div class="col-sm-3" style="font-size:13px;font-weight:700;">
                        {{value?.jobTitle}}
                    </div>
                    <div class="col-sm-3" style="font-size:11px;font-weight:700;">
                        {{value?.employer}}
                    </div>
                    <div class="col-sm-3" style="font-size:11px;font-weight:600;">
                        <i><span>{{value?.city}},</span>&nbsp;{{value?.state}}&nbsp;
                        <span>,{{value?.country}}</span></i>
                    </div>
                    <div class="col-sm-3" style="font-size:11px;font-weight:700;">
                        {{value?.fromDate | date:'mediumDate'}} to {{value?.toDate | date:'mediumDate'}}
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col">
                        {{value?.jobDescription}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <b *ngIf="educationMockData?.length" style="margin-left:20px;">EDUCATION</b>
    <div *ngIf="educationMockData?.length" style="margin-bottom:20px;">
        <div *ngFor="let value of educationMockData" style="margin-left:20px;margin-top:20px;margin-right:20px;">
            <div class="row">
                <div class="col-sm-6" style="font-size:13px;font-weight:700;">
                    {{value?.educationType}} 
                    <span *ngIf="value?.branch" style="margin-left:10px;">
                       <span style="font-weight:500;">in</span>&nbsp;{{value?.branch}}
                    </span>
                </div>
                <div class="col" style="font-size:11px;font-weight:700;">
                    <i><span style="font-size:small">{{value?.district}},</span>&nbsp;{{value?.state}}&nbsp;
                        <span>,{{value?.country}}</span></i>
                 </div>
                 <div class="col" style="font-size:11px;font-weight:700;">
                    {{value?.startDate | date:'mediumDate'}} to {{value?.endDate | date:'mediumDate'}}
                 </div>
            </div>
            <div class="row">
                <div class="col" style="font-size:13px;font-weight:500;">
                    {{value?.institutionName}}  
                    <span>
                        &nbsp; - {{value?.percentage}} %
                    </span>
                </div>
            </div>   
        </div>
    </div>  
    <hr/>
    <b *ngIf="projectsMockData?.length" style="margin-left:20px;">PROJECTS</b>   
    <div *ngIf="projectsMockData?.length" style="margin-bottom:20px;margin-left:20px;margin-right:20px;">
        <div *ngFor="let value of projectsMockData" style="margin-top:20px;margin-left:20px;">
            <div class="row" style="font-size:13px;font-weight:700px;">
                <span><b>{{value?.title}}</b></span>
            </div>
            <div class="row" style="font-size:11px;font-weight:500px;margin-top:10px;">
                <span>{{value?.description}}</span>
            </div>
            <div class="row" style="margin-top:10px;">
                <b>Technologies Used -</b>
                <div *ngFor="let s of value?.skills">
                    <div class="col" style="margin-left:10px;padding:2px 4px 2px 4px;" id="skillslistsection">{{s.skill}}</div>
                </div>
            </div>
            <div *ngIf="value?.link" class="row" style="margin-top:10px;">
                <b>Link -</b>
                {{value?.link}}
            </div>
        </div>
    </div>    
</div>