<body>
<div class="page-container">
    <div class="row">
        <div class="col-md-5 offset-md-1" style="margin:20px 0px 0px 25px;">
            <img class="logo" role="img" src="/assets/images/group-1220@1x.png" width="250px">
            <form class="container mt-5">
                <div class="form-group">
                    <label for="email"> Email Address:</label>
                    <input type="email"  id="email"  class="form-control" ngModel name="email" placeholder="Email">
                </div>
                <div class="form-group mt-2">
                    <label for="password"> Password:&nbsp; <a href="#" style="text-decoration: none;">Forgot Your Password?</a> </label>
                    <input type="password" id="password" class="form-control mt-1" ngModel name="password" placeholder="password">
                </div>
                <button type="button" (click)="navigateto()" style="width: 250px;" class="btn btn-primary mt-2">Sign in</button><br>
                <p>Dont have account? &nbsp;<a href="#" style="text-decoration: none;">Sign up here</a></p>
            </form>
        </div>
        <div class="col-md-5 offset-md-1" style="margin:40px 0px 40px 10px;">        
            <!-- <img  src="assets/path-1078@1x.png"> -->
            <img height="250px" width="300px" src="/assets/images/group-1223@1x.png" class="logo-2">
        </div>
        <div class="row" id="footer" style="margin-top:60px;">
             <footer><a href="#" style="text-decoration: none;">847-769-8937 sales@ensarsolution.com</a><br><p>copyrights @2020 ensarsolutions</p></footer>
         </div>
         
    </div>
</div>
</body>